@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700&family=Karantina&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgGradient: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75));
  --bgModal: rgba(1, 10, 5, 0.75);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #d9d9d9;
    color: #ffffff;
    font-style: normal;
    min-height: 100vh;
    max-width: 100%;
    @apply text-[14px] m:text-[16px] l:text-[18px];
  }

  ul,
  ol {
    list-style: none;
  }

  button {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

@layer components {
  .container {
    @apply w-full mx-auto px-5 s:w-[480px] m:px-8 m:w-[768px] l:px-6 l:w-[1280px];
  }

  .section {
    @apply py-14 m:py-16 l:py-[104px];
  }

  .modal {
    background: var(--bgModal);
    @apply fixed z-50 w-full h-screen top-0 left-0 backdrop-blur-xl flex justify-center items-center;
  }

  .hero-bg-m,
  .about-bg-m,
  .career-bg-m,
  .gallery-bg-m,
  .contacts-bg-m {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }

  .hero-bg-m {
    background-image: linear-gradient(
        to bottom,
        rgba(2, 15, 8, 0.5),
        rgba(2, 15, 8, 0.75) 287px,
        rgba(2, 15, 8, 0.5)
      ),
      image-set(url(/images/hero_m.jpg) 1x, url(/images/hero_m_2x.jpg) 2x);
  }

  .hero-bg-t {
    height: 531px;
    background-image: linear-gradient(
        to bottom,
        rgba(2, 15, 8, 0.5),
        rgba(2, 15, 8, 0.75) 287px,
        rgba(2, 15, 8, 0.5)
      ),
      image-set(url(/images/hero_t.jpg) 1x, url(/images/hero_t_2x.jpg) 2x);
  }

  .hero-bg-d {
    height: 763px;
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(url(/images/hero_d.jpg) 1x, url(/images/hero_d_2x.jpg) 2x);
  }

  .hero-btn::before {
    content: '';
    position: absolute;
    width: 42px;
    height: 53px;
    top: 0;
    left: 0;
    background-image: url('/icons/frame_l_m.svg');
  }

  .hero-btn::after {
    content: '';
    position: absolute;
    width: 42px;
    height: 53px;
    top: 0;
    right: 0;
    background-image: url('/icons/frame_r_m.svg');
  }

  @media (min-width: 768px) {
    .hero-btn::before {
      width: 35px;
      height: 50px;
      background-image: url('/icons/frame_l_t.svg');
    }

    .hero-btn::after {
      width: 35px;
      height: 50px;
      background-image: url('/icons/frame_r_t.svg');
    }
  }

  @media (min-width: 1280px) {
    .hero-btn::before {
      width: 44px;
      height: 71px;
      background-image: url('/icons/frame_l_d.svg');
    }

    .hero-btn::after {
      width: 44px;
      height: 71px;
      background-image: url('/icons/frame_r_d.svg');
    }
  }

  .about-bg-m {
    background-image: linear-gradient(
        to bottom,
        rgba(2, 15, 8, 0.5),
        rgba(2, 15, 8, 0.75) 247px,
        rgba(2, 15, 8, 0.5)
      ),
      image-set(url(/images/about_m.jpg) 1x, url(/images/about_m_2x.jpg) 2x);
  }

  .about-bg-t {
    height: 697px;
    background-image: linear-gradient(
        to bottom,
        rgba(2, 15, 8, 0.5),
        rgba(2, 15, 8, 0.75) 247px,
        rgba(2, 15, 8, 0.5)
      ),
      image-set(url(/images/about_t.jpg) 1x, url(/images/about_t_2x.jpg) 2x);
  }

  .about-bg-d {
    height: 826px;
    background-image: linear-gradient(
        to bottom,
        rgba(2, 15, 8, 0.5),
        rgba(2, 15, 8, 0.75) 257px,
        rgba(2, 15, 8, 0.5)
      ),
      image-set(url(/images/about_d.jpg) 1x, url(/images/about_d_2x.jpg) 2x);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .services-btn::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    background-image: url('/icons/rectangle.svg');
    background-color: #ffffff;
  }

  .career-bg-m {
    background-image: var(--bgGradient),
      image-set(url(/images/career_m.jpg) 1x, url(/images/career_m_2x.jpg) 2x);
  }

  .career-bg-t {
    height: 720px;
    background-image: var(--bgGradient),
      image-set(url(/images/career_t.jpg) 1x, url(/images/career_t_2x.jpg) 2x);
  }

  .career-bg-d {
    height: 818px;
    background-image: var(--bgGradient),
      image-set(url(/images/career_d.jpg) 1x, url(/images/career_d_2x.jpg) 2x);
  }

  .input-form {
    @apply bg-white/[.05] text-[13px] font-extralight leading-[24px] outline-none placeholder:text-white/20 hover:bg-white/10 focus:bg-white/10 transition duration-300 m:w-[222px] l:w-[290px] l:text-[20px];
  }

  .label-form {
    @apply text-[12px] font-extralight leading-[24px] tracking-[2.4px];
  }

  .input-checkbox:checked + label::before {
    width: 22px;
    height: 22px;
    background-image: url('/icons/checked.svg');
  }

  .input-checkbox:focus + label::before,
  .input-checkbox:hover + label::before {
    outline: 2px solid white;
  }

  .label-checkbox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background-image: url('/icons/unchecked.svg');
  }

  .error::before {
    content: '';
    position: absolute;
    bottom: 4px;
    left: -22px;
    width: 18px;
    height: 18px;
    background-image: url('/icons/error.svg');
  }

  @media (min-width: 1280px) {
    .input-checkbox:checked + label::before {
      width: 24px;
      height: 24px;
      background-image: url('/icons/checked_d.svg');
    }

    .label-checkbox::before {
      width: 24px;
      height: 24px;
      background-image: url('/icons/unchecked_d.svg');
    }
  }

  .gallery-bg-m {
    background-image: var(--bgGradient),
      image-set(url(/images/gallery_bg_m.jpg) 1x, url(/images/gallery_bg_m_2x.jpg) 2x);
  }

  .gallery-bg-t {
    height: 575px;
    background-image: linear-gradient(
        to bottom,
        rgba(2, 15, 8, 0.85) 0,
        rgba(2, 15, 8, 0.75) 247px,
        rgba(2, 15, 8, 0.85) 247px,
        rgba(2, 15, 8, 0.75) 328px,
        rgba(2, 15, 8, 0.85) 100%
      ),
      image-set(url(/images/gallery_bg_t.jpg) 1x, url(/images/gallery_bg_t_2x.jpg) 2x);
  }

  .gallery-bg-d {
    height: 788px;
    background-image: linear-gradient(
        to bottom,
        rgba(2, 15, 8, 0.85) 0,
        rgba(2, 15, 8, 0.75) 303px,
        rgba(2, 15, 8, 0.85) 303px,
        rgba(2, 15, 8, 0.75) 485px,
        rgba(2, 15, 8, 0.85) 100%
      ),
      image-set(url(/images/gallery_bg_d.jpg) 1x, url(/images/gallery_bg_d_2x.jpg) 2x);
  }

  @media (min-width: 768px) {
    .swiper-slide-next.gallery-slider,
    .swiper-slide-prev.gallery-slider {
      width: 121px !important;
      height: 87px !important;
      background: rgba(2, 15, 8, 0.75);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      opacity: 0.75;
      filter: drop-shadow(0px 0px 100px rgba(9, 20, 16, 0.5)) !important;
    }

    .swiper-slide-active.gallery-slider {
      width: 415px !important;
      height: 294px !important;
    }

    .swiper-wrapper {
      align-items: center;
    }
  }

  @media (min-width: 1280px) {
    .swiper-slide-next.gallery-slider,
    .swiper-slide-prev.gallery-slider {
      width: 313px !important;
      height: 225px !important;
    }

    .swiper-slide-active.gallery-slider {
      width: 606px !important;
      height: 429px !important;
    }
  }

  .contacts-bg-m {
    background-image: var(--bgGradient),
      image-set(url(/images/contacts_m.jpg) 1x, url(/images/contacts_m_2x.jpg) 2x);
  }

  .contacts-bg-t {
    height: 691px;
    background-image: var(--bgGradient),
      image-set(url(/images/contacts_t.jpg) 1x, url(/images/contacts_t_2x.jpg) 2x);
  }

  .contacts-bg-d {
    height: 762px;
    background-image: var(--bgGradient),
      image-set(url(/images/contacts_d.jpg) 1x, url(/images/contacts_d_2x.jpg) 2x);
  }
}

@layer utilities {
  .flex-container {
    @apply flex justify-center items-center;
  }

  .trans {
    @apply transition-all duration-300;
  }
}
